{% extends 'common/base.html' %} {% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height: 84vh">
  <!-- ============================ COMPONENT LOGIN   ================================= -->
  <div class="card mx-auto" style="max-width: 380px">
    <div class="card-body">
      <h4 class="card-title mb-4 text-center text-info">
        <strong>Đăng Nhập</strong>
      </h4>
      <form action="{% url 'checklogin'%}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <input
            name="username"
            class="form-control"
            placeholder="Username"
            type="text"
          />
        </div>
        <!-- form-group// -->
        <div class="form-group">
          <input
            name="password"
            class="form-control"
            placeholder="Password"
            type="password"
          />
        </div>
        <!-- form-group// -->

        <div class="form-group">
          <a href="#" class="float-right">Forgot password?</a>
          <div class="float-left form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              id="inlineCheckbox1"
              value="option1"
            />
            <label class="form-check-label" for="inlineCheckbox1"
              >Remember</label
            >
          </div>
        </div>
        <!-- form-group form-check .// -->
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">
            Đăng nhập
          </button>
        </div>
        <!-- form-group// -->
      </form>
    </div>
    <!-- card-body.// -->
  </div>
  <!-- card .// -->

  <p class="text-center mt-4">Don't have account? <a href="#">Sign up</a></p>
  <br /><br />
  <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top padding-y">
</footer>
<!-- ========================= FOOTER END // ========================= -->
{% endblock %}
